div.facts { 
    display: block;
    position: relative;
}

/* div.facts-container {      
} */

div.facts-container div.container-head {
    display: block; 
} 

div.facts-container div.container-body { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.facts-items-container { 
    display: flex; 
}
 
div.facts-items-container div.item {
    display: flex;
}

/* p.w278 {
    width: 278px!important;
}

p.w284 {
    width: 284px!important;
}

p.h141 {
    height: 140px!important;
}

p.h145 {
    height: 145px!important;
}

div.h209 {
    height: 209px!important;
}

div.h213 {
    height: 213px!important;
} */

  

div.icon-circle-border {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--sky-blue);
    animation: expandSpan 1s ease infinite alternate;
}
 
@keyframes expandSpan {
    0% { transform: scale(1);}
    100% { transform: scale(1.35);}
}