div.know-us { width: 100%; }
div.know-us-container { padding: 72px 24px; display: flex; flex-direction: column; }
div.know-us-container div.container-head { margin-bottom: 16px; }
div.know-us-container div.container-body { position: relative; display: flex; flex-direction: column; gap: 16px; }  
div.know-us-container div.subcontainer { display: flex; flex-direction: column; } 
div.list ul { list-style: none; display: flex; flex-direction: column; }
div.list ul li { display: flex; flex-direction: row; gap: 8px; justify-content: flex-start; align-items: center; margin-bottom: 12px; } 
div.know-us-container div.list { margin-bottom: 16px; }
div.know-us-container div.container-body div.image-container { max-width: 380px; display: block; margin: 24px auto 0 auto; }
div.know-us-container div.container-body div.image-container img { width: 100%; }
div.know-us-container div.container-body button {max-width: 380px; margin: 0 auto;}
h2.know-us-subtitle { letter-spacing: unset !important; }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {   
    div.know-us-container { max-width: 576px; margin: 0 auto; }
    div.know-us-container div.list { margin-bottom: 16px; width: 100%; display: flex; justify-content: space-around; }
} 

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    div.know-us-container { max-width: 768px; margin: 0 auto;}
    h2.know-us-subtitle { max-width: 689px; }
    div.know-us-container div.subcontainer { display: flex; flex-direction: column; max-width: 337px; width: 100%; }
    div.know-us-container div.container-head > p { max-width: 514px; margin: 0 auto; }
    div.know-us-container div.container-body div.image-container { max-width: 255px; display: block; margin-top: 24px; margin-left: 0px; margin-right: 0px; }
    div.know-us-container div.container-body div.image-container img { width: 100%; }
    div.know-us-container div.container-body button {max-width: 337px; margin: 0 auto;}
    div.know-us-container div.container-body { position: relative; display: flex; flex-direction: row; justify-content: space-between; }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    div.know-us { width: 100%; }
    div.know-us-container { padding: 100px 32px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; }
    h2.know-us-subtitle { max-width: 992px; } 
    div.__container { max-width: 580px; }
    div.know-us-container div.subcontainer { display: flex; flex-direction: column; max-width: 588px; width: 100%; }
    div.know-us-container div.container-head > p { max-width: 514px; }
    div.know-us-container div.container-body div.image-container { max-width: 255px; display: block; margin-top: 24px; margin-left: 0px; margin-right: 0px; }
    div.know-us-container div.container-body div.image-container img { width: 100%; }
    div.know-us-container div.container-body button { max-width: 282px; margin: 0;}
    div.know-us-container div.container-body { position: relative; display: flex; flex-direction: column; justify-content: space-between; }
    div.know-us div.image-container img { width: 350px; }
    
    h2.know-us-subtitle {  margin-bottom: 16px; }
    div.know-us-container div.list { margin-bottom: 16px; width: 100%; display: flex; justify-content: space-between; }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px){ 
    div.know-us { width: 100%; }
    div.know-us-container { padding: 100px 32px; display: flex; flex-direction: row; justify-content: space-evenly; }
    div.know-us-container div.subcontainer { display: flex; flex-direction: column; max-width: 588px; width: 100%; }
    div.know-us-container div.container-head > p { max-width: 514px; margin-bottom: 8px; }
    div.__container { max-width: 580px; }
    div.know-us-container div.container-body div.image-container { max-width: 255px; display: block; margin-top: 24px; margin-left: 0px; margin-right: 0px; }
    div.know-us-container div.container-body div.image-container img { width: 100%; }
    div.know-us-container div.container-body button { max-width: 282px; margin: 0;}
    div.know-us-container div.container-body { position: relative; display: flex; flex-direction: column; justify-content: space-between; }
    div.know-us div.image-container img { width: 486px; }
    h2.know-us-subtitle { letter-spacing: 0.03em !important; font-size: 37px; margin-bottom: 16px; }
    
    div.know-us-container div.list { margin-bottom: 16px; width: 100%; display: flex; justify-content: space-between; }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    div.know-us { width: 100%; }
    div.know-us-container { margin: 0 auto; display: flex; flex-direction: row; align-items: flex-start; padding: 100px 120px; justify-content: space-between; max-width: 1440px; }
    h2.know-us-subtitle { max-width: 992px; } 
    div.know-us-container div.subcontainer { display: flex; flex-direction: column; max-width: 588px; width: 100%; }
    div.know-us-container div.container-head > p { max-width: 588px; margin-bottom: 8px; }
    div.know-us-container div.container-body div.image-container { display: block; margin-top: 24px; margin-left: 0px; margin-right: 0px; }
    div.know-us-container div.container-body div.image-container img { width: 100%; }
    div.know-us-container div.container-body button { max-width: 282px; margin: 0;}
    div.know-us-container div.container-body { position: relative; display: flex; flex-direction: column; justify-content: space-between; }
    div.know-us div.image-container img { width: 486px; }
    h2.know-us-subtitle { letter-spacing: 0.01em !important; margin-bottom: 16px; } 
    div.know-us-container div.list { margin-bottom: 16px; width: 100%; display: flex; justify-content: space-between; }
}