div.main-container  {
    padding: 12px 24px;
    height: calc(100vh - 48px);
    overflow-y: auto;
}

div.main-container.smart {
    background: rgb(240, 242, 245);
    padding: 12px 16px !important;
}

div.c-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
}

div.bigCards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
}


.c-cards-container.smart {
    width: calc(100vw + 16px) !important;
    overflow-x: auto;
    gap: 12px;
    margin-top: 20px;
    padding: 0px 48px 12px 0px;
}

.lineHeight-18 {
    line-height: 18px;
}

.c-card.smart {
    height: auto;
}

.c-card.smart,
.c-card-head.smart,
.c-card-body.smart {
    width: 239px !important;
}

.c-card-body.smart {
    height: 121px !important;
}


.big-card__image-box.smart>img {
    height: 105px;
}

.big-card__image-box.smart {
    height: 105px;
    display: block;
    width: 70px;
}

.bc-c-text-container.smart {
    padding: 14px 15px 13px 12px !important;
    display: flex;
    flex-direction: column;
    height: 105px;
}

.c-big-card.smart {
    width: 100% !important;
    height: auto !important;
}

.bigCards-container.smart {
    flex-flow: column nowrap;
    gap: 12px;
    margin-top: 0px;
}

div.c-dashboard-header.smart {
    padding: 8px 16px 20px 16px;
    margin-right: 0;
    width: 100vw;
    margin-left: -16px;
    margin-top: -22px;
}