.feedback-wrapper.desk {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
}

.card-icon-true::before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--green);
    display: block;
    position: absolute;
    border-radius: 50%;
}

.card-icon-false::before {
    content: '';
    width: 14px;
    height: 14px;
    background: var(--red);
    display: block;
    position: absolute;
    border-radius: 50%;
}

.fal__body__question-card {
    padding: 16px;
    max-width: 278px;
    background: #FFF;
    box-shadow: inset 0px -1px 0px #F0F0F0;
    position: relative
}

.fal__body__question-card>*:not(:first-child) {
    margin-left: 22px;
}

.fal__body__question-card span {
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.45);
}

.fal__body__question-card h1 {
    font-weight: 500 !important;
}

.fal-container__header,
.fall-container__body {
    width: 278px;
}

.fal-container__header,
.fal-container__header>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
}

.fal-container__header>div {
    gap: 4px;
    height: 46px;
}

.fal-container__header>div:hover {
    cursor: pointer;
}

.fal-container__header__all>span:last-child {
    color: rgba(0, 0, 0, 0.45);
    ;
    background: #F0F0F0;
    border-radius: 100px;
    padding: 0px 6px;
}

.fal-container__header__incorrects>span:last-child {
    color: rgba(245, 34, 45, 1);
    background: #FFF1F0;
    border-radius: 100px;
    padding: 0px 6px;
}

.fal-container__header__corrects>span:last-child {
    color: #52c41a;
    background: #F6FFED;
    border-radius: 100px;
    padding: 0px 6px;
}

.fw-500 {
    font-weight: 500 !important;
}

.question-num-tag,
.question-case-tag {
    margin-bottom: 16px;
}

.question-question-tag {
    margin-bottom: 8px;
}

.answer-tag {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    width: 395px;
    padding: 9px 16px;
}

.answer-tag.correct-answer {
    background: #F6FFED !important;
    border: 1px solid #B7EB8F !important;
    border-radius: 2px !important;
}

.answer-tag.incorrect-answer {
    background: #FFF1F0;
    border: 1px solid #FFCCC7;
    border-radius: 2px;
}


.feedback-right-container__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.feedback-right-container__header>div:first-child {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}

.feedback-right-container__header>div:first-child>span:not(:last-child) {
    color: rgba(0, 0, 0, 0.45);
}

.feedback-right-container {
    background: #FFF;
    padding: 12px 24px;
    flex-grow: 1;
    height: fit-content;
}

.question-response-tag {
    margin-bottom: 8px;
    margin-top: 16px;
}

.flashcard-tag {
    margin-top: 24px;
    text-align: center;
}

.fal-container__body {
    height: 100vh;
    display: block;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #1e73be40 #FFF;
}

.fal-container__body::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

.fal-container__body::-webkit-scrollbar-thumb {
    background: #1e73be40;
}


.feedback-right-container__footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.feedback-right-container__footer i:hover,
.feedback-right-container__header i:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, .40);
}

.fal__body__question-card:hover {
    cursor: pointer;
}

.fal__body__question-card.question-card--selected::before {
    display: block;
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    background: #05b2fa;
}

.fal__body__question-card:hover:not(.question-card--selected)::before {
    display: block;
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    background: #05b0fa3d;
}

/* Grafica */

.graphic {
    max-width: 834px;
    display: block;
    position: relative;
}

.graphic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    gap: 16px;
}

.graphic-container>div {
    display: flex;
    width: 24px;
    height: 350px;
    position: relative;
    flex-direction: column;
    align-items: center;
}

span.porcentaje {
    position: absolute;
}

.barra {
    width: 24px;
    height: calc(350px * 0.33);
    background: #05B2FA35;
    margin: 0 auto;
    position: absolute;
    bottom: 100px;
}

span.categoria {
    position: absolute;
    bottom: 80px;
    transform: rotate(-45deg);
    right: 25px;
    white-space: nowrap;
    transform-origin: right 0%;
}

.porce-0 {
    position: absolute;
    bottom: 89px;
}

.porce-100 {
    position: absolute;
    bottom: calc(100px + (200px) - 9px);
}

.porce-25 {
    position: absolute;
    bottom: calc(100px + (200px * 0.25) - 9px);
}

.porce-50 {
    position: absolute;
    bottom: calc(100px + (200px * 0.50) - 9px);
}

.porce-75 {
    position: absolute;
    bottom: calc(100px + (200px * 0.75) - 9px);
}

.graphic-container>div:first-child {
    width: 38px;
    align-items: flex-start;
}


.horizontal-line.h-line-100 {
    position: absolute;
    width: 100%;
    top: 50px;
    border-bottom: 1px dashed #F0F0F0;
    left: 38px;
}

.horizontal-line.h-line-75 {
    position: absolute;
    width: 100%;
    top: 100px;
    border-bottom: 1px dashed #F0F0F0;
    left: 38px;
}

.horizontal-line.h-line-50 {
    position: absolute;
    width: 100%;
    top: 150px;
    border-bottom: 1px dashed #F0F0F0;
    left: 38px;
}

.horizontal-line.h-line-25 {
    position: absolute;
    width: 100%;
    top: 200px;
    border-bottom: 1px dashed #F0F0F0;
    left: 38px;
}

.horizontal-line.h-line-0 {
    position: absolute;
    width: 100%;
    top: 250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    left: 38px;
}

.horizontal-line {
    max-width: calc(834px * 0.85);
}

.categories-graphic-links {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 8px;
}


/* RESPONSIVE */
.fal-container__header.smart {
    width: 100%;
}

.fal-container__body.smart {
    width: 100%;
    height: unset;
}

.fal-container__body.smart .fal__body__question-card {
    width: 100%;
    max-width: unset;
}

.answer-tag.smart {
    width: auto !important;
}

.flashcard-tag.smart img {
    width: 100%;
}