.simulator-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 278px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 2px;
}

.simulator-left-container__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 24px;
    width: 278px;
    height: 81px;
    background: #FFFFFF;
    box-shadow: inset -1px 0px 0px #F0F0F0, inset 0px 1px 0px #F0F0F0, inset 1px 0px 0px #F0F0F0;
    justify-content: center;
}

.simulator-left-container__body-questions {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0px 24px;
    margin-top: 8px;
}

.simulator-left-container__body-questions button {
    width: 96px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background: #fff;
    margin-right: 4px;
    border: none;
}

.question-id-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 8px;
    gap: 4px;
    width: 24.92px;
    height: 22px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin-bottom: 4px;
}

.question-id-number:hover,
.question-id-number.selected {
    cursor: pointer;
    background: #F6FFED;
    border: 1px solid #B7EB8F;
}

.question-id-number:hover span,
.question-id-number.selected span {
    color: rgba(82, 196, 26, 0.85);
}

.simulator-left-container__clock {
    padding: 11px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 58px;
    margin: 0 auto;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
}

input#timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 128px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}


.simulator-right-container {
    padding: 24px;
    background: #FFF;
}

.question-header {
    background: #1E73BE;
    text-align: center;
    border-radius: 2px;
}

p.question-body__parraf {
    margin: 24px 0px;
    text-transform: uppercase;
}

h1.question-body__question-number {
    width: 300px;
    height: 33px;
    background: #AC1101;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 20px;
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.question-body__question-answers-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0px 40px 0px;
}

.question-body__question-answers-container>h1 {
    text-transform: uppercase;
}

.answer-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
}

.answer-item label {
    text-transform: uppercase;
    cursor: pointer;
}

.question-button-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
}

.question-button-footer button:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 8px;
    width: 230px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 2px;
}

.question-button-footer button:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    width: 97px;
    height: 32px;
    background: #05B2FA;
    border-radius: 2px;
    border: 1px solid #05B2FA;
    color: white;
}


.simulator-left-container__footer-questions {
    padding: 8px 24px;
}

.footer-question-item {
    border-bottom: 1px solid #F0F0F0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.footer-question-item p {
    text-align: justify;
}

/* RESPONSIVE */
.resources-wrapper.smart {
    flex-direction: column;
    gap: unset;
}

.resources-wrapper.smart .simulator-left-container {
    width: 100%;
}

.simulator-left-container__header.smart {
    width: 100%;
    height: unset;
    padding: 16px 24px;
    box-shadow: unset;
}

.simulator-left-container__clock.smart {
    width: 100%;
    padding: 11px 24px;
}

.simulator-left-container__body-questions.smart {
    flex-flow: column;
    padding: 8px 24px;
    margin-top: unset;
}

.questions-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 4px;
    margin-bottom: 8px;
}

.questions-tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cases-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
} 

.simulator-left-container__footer-questions.smart {
    padding: 8px 24px;
}

.simulator-left-container__footer-questions.smart {
    padding: 8px 24px;
}

.simulator-right-container.smart {
    padding: 0px;
}

.question-header.smart {
    padding: 5px 0px;
} 

p.question-body__parraf.regular-16.smart {
    padding: 0px 12px;
}

.question-body__question-answers-container.smart {
    padding: 24px 12px 40px 12px;
}

.question-body__question-answers-container.smart .answer-item {
    align-items: baseline;
}
.question-button-footer.smart {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 4px;
    padding-bottom: 20px;
}

.question-button-footer.smart button {
    width: 100% !important;
}

img.close_button {
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.modal-simulator__container__buttons.smart {
    flex-flow: column-reverse nowrap;
    gap: 12px;
}

.modal-simulator__container__buttons.smart button {
    width: 100% !important;
}