div.regular-questions { width: 100%; } 
div.regular-questions div.container { padding: 72px 24px; }
div.regular-questions div.container div.container-head { margin-bottom: 32px; }
div.regular-questions div.questions-items { display: flex; flex-direction: column; }
div.questions-items div.item { width: 100%; height: auto; border: 2px solid var(--white); border-radius: 10px; transition: border 350ms; padding: 16px; margin-bottom: 24px; }
div.questions-items div.item.isSelected { border: 2px solid var(--sky-blue); transition: border 350ms; }
div.item-head { margin-bottom: 16px; }
div.item-body { display: flex; }
div.item-body.flexed-row { flex-direction: row; justify-content: space-between; }
div.item-body.flexed-column { flex-direction: column; gap: 8px; }
div.item-body p.collapsed-parraf { font-family: PoppinsRegular; font-style: normal; font-weight: 400; font-size: 16px; line-height: 21px; color: #000000; transition: line-height 350ms; }
div.item.isSelected p.collapsed-parraf { line-height: 24px!important; transition: line-height 350ms; }
img.image-enarm-faqs { width: 100%; max-width: 300px; }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {   
    div.regular-questions div.container { max-width: 576px; margin: 0 auto;}
} 

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    div.regular-questions div.container { max-width: 694px; margin: 0 auto;}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    div.regular-questions div.container { max-width: 792px; margin: 0 auto;}
}
