.wrapper {
  padding: 24px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 278px 1fr;
  gap: 24px;
}

.resourceSectionContainer {
  box-shadow: 0px -1px 0px 0px #f0f0f0 inset;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.containerHeader {
  padding: 16px 24px;
  border: 1px solid var(--Neutral-5, #d9d9d9);
  background: var(--Neutral-1, #fff);
  box-shadow: 0px -1px 0px 0px #f0f0f0 inset;
  display: flex;
  justify-content: space-between;
}

.containerHeader > div {
  display: flex;
  align-items: center;
}

.containerHeader p,
.containerHeader label,
.containerHeader select,
.backButton {
  font-family: PoppinsRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--character-primary-85, rgba(0, 0, 0, 0.85));
}

.containerHeader .resourceTitle {
  gap: 12px;
}

.containerHeader .resourseFilters {
  gap: 20px;
}

.resourseFilters select {
  margin-left: 10px;
  padding: 4px 12px;
}

.resourseFilters .turns * {
  display: inline-block;
}

.checkboxLabel {
  margin-left: 1rem;
}

.checkboxLabel label {
  margin-left: 8px;
}

.containerHeader h4 {
  font-family: PoppinsMedium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.containerBody {
  padding: 24px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  background: #fff;
}

.resourceTitle p {
  font-family: Roboto;
}

.backButton {
  display: none;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 16px;
  }

  .gridContainer {
    display: block;
  }

  .containerHeader {
    flex-direction: column;
    padding: 14px;
  }

  .resourceTitle button {
    background-color: transparent;
    border: none;
    height: 14px;
    width: 14px;
  }

  .resourceTitle h4 {
    font-size: 14px;
    font-family: PoppinsMedium;
    line-height: 21px;
  }

  .resourceTitle p {
    color: rgba(0, 0, 0, 0.45);
  }

  .containerHeader .resourseFilters {
    padding-top: 20px;
    gap: 16px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .filter {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .filter select {
    flex-grow: 1;
  }

  .backButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
  }
}

.specialyName {
  font-family: PoppinsRegular;
  font-size: 1rem;
}

.resourcesList {
  margin-left: 1rem;
  list-style: none;
}

.resourceItem p {
  line-height: 2;
  font-size: 14px;
  font-family: PoppinsRegular;
  color: #1e73be;
}

.resourceItem p::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgaWQ9IlNWR1JlcG9fYmdDYXJyaWVyIiBzdHJva2Utd2lkdGg9IjAiPjwvZz48ZyBpZD0iU1ZHUmVwb190cmFjZXJDYXJyaWVyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjwvZz48ZyBpZD0iU1ZHUmVwb19pY29uQ2FycmllciI+IDxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjIiIGZpbGw9IiMwMDAwMDAiPjwvY2lyY2xlPiA8L2c+PC9zdmc+");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}
