.wrapper {
  padding: 24px;
}

.containerHeader {
  border: 1px solid var(--Neutral-5, #D9D9D9);
  background: var(--Neutral-1, #FFF);
  box-shadow: 0px -1px 0px 0px #F0F0F0 inset;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;
}

.headerTitle {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.headerTitle h5 {
  color: var(--character-title-85, rgba(0, 0, 0, 0.85));
  font-family: PoppinsMedium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.headerTitle p {
  color: var(--character-secondary-45, rgba(0, 0, 0, 0.45));
  font-family: PoppinsRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}


.documentLink {
  border-radius: 2px;
  border: 1px solid var(--Neutral-5, #D9D9D9);
  background: var(--Neutral-1, #FFF);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  color: var(--character-title-85, rgba(0, 0, 0, 0.85));
  text-align: center;
  font-family: PoppinsRegular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 16px;
  text-decoration: none;
}

.containerBody {
  padding: 24px;
  border-right: 1px solid var(--Neutral-5, #D9D9D9);
  border-bottom: 1px solid var(--Neutral-5, #D9D9D9);
  border-left: 1px solid var(--Neutral-5, #D9D9D9);
  background: var(--White, #FFF);
}

.guideIntroduction {
  width: 75%;
  margin-inline: auto;
}

.guideIntroduction h2 {
  color: var(--Black, #000);
  font-family: PoppinsMedium;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.guideIntroduction .blueParraf {
  color: var(--Secondary, #1E73BE);

}

.guideIntroduction p {
  color: var(--character-title-85, rgba(0, 0, 0, 0.85));

  /* Body/regular */
  font-family: PoppinsRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.guideIntroduction strong {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 12px 16px;
  }

  *[data-size=xl] {
    display: none;
  }

  .containerBody {
    padding: 16px;
  }


  .guideIntroduction {
    width: 100%;
    margin-inline: unset;
  }

  .documentLink {
    display: block;
    margin-top: 16px;
  }
}