.specialitiesContainer {
  width: 100%;
  border: 1px solid var(--Neutral-5, #D9D9D9)
}

.specialityItem {
  width: inherit;
  display: block;
  position: relative;
  background: #FFF;
  box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
  height: 54px;
  transition: all 200ms linear;
}

.specialityItem[data-active="true"] {
  background: #D3F2FF;
  box-shadow: 3px 0px 0px 0px #05B2FA inset;
}

.specialityItem[data-active="true"]::before {
  content: "";
  width: 3px;
  height: 54px;
  background: #05B2FA;
}

.specialityItem p,
.specialityLink {
  color: #000;
  font-family: PoppinsRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  padding: 16px;
  display: block;
}

.specialityItem:hover {
  background: #79d4fbaa;
  transition: all 200ms linear;
  cursor: pointer;
}