div.c-big-card {
    width: 587px;
    height: 328px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

div.big-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div.bc-c-text-container {
    padding: 24px;
}

div.bc-c-text-container a {
    margin-top: 10px;
}

div.bc-c-text-container ul li {
    margin-left: 16px;
}

.fw500 {
    font-weight: 600 !important;
    font-size: 14px !important;
}

.noDecor {
    text-decoration: none;
}