.aside-right-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.aside-right-container>div {
    width: 278px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 2px; 
}

.calendar-head,
.progress-head {
    width: 278px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: inset -1px 0px 0px #F0F0F0, inset 0px 1px 0px #F0F0F0, inset 1px 0px 0px #F0F0F0;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.calendar-body,
.progress-body {
    width: 278px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 0px #F0F0F0;
    padding: 24px;
}

.calendar-body {
    min-height: 298px;
}


.calendar-body button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 8px;
    width: 230px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 2px;
    margin-top: 8px;
}

/* PROGRESS BAR */


.progress-body>div {
    width: 230px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.progress-body div span {
    width: 30px;
    display: block;
    text-align: end;
}

.progress-bar {
    width: 200px;
    height: 8px;
    background: #F5F5F5;
    border-radius: 5px;
    position: relative;
}

.progress-bar::before {
    content: '';
    width: 10px;
    height: 8px;
    background: var(--sky-blue);
    position: absolute;
    border-radius: 4px;
}

.progress-body div span::after {
    content: '%';
}


.progress-record .progress-record__head {
    height: 52px;
    display: flex;
    padding: 0px 24px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 2px;
}

.progress-record .progress-record__body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #fff;
}

.progress-record .progress-record__body>div {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}


/* STUDY METHODS */
.study-method__head {
    height: 52px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 2px;
}

.study-method__head.smart {
    padding: 14px 14px 0px 14px;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    height: unset;
}

.study-method__body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.study-method__body.smart {
    padding: 11px 14px 0px 14px;
    background: #FFF;
}

.methods:not(.smart) div.methods__method:nth-child(1) span:first-child::before {
    content: "1";
}

.methods:not(.smart) div.methods__method:nth-child(2) span:first-child::before {
    content: "2";
}

.methods:not(.smart) div.methods__method:nth-child(3) span:first-child::before {
    content: "3";
}

.methods:not(.smart) div.methods__method:nth-child(4) span:first-child::before {
    content: "4";
}

.methods:not(.smart) div.methods__method:not(:last-child) span:last-child::before {
    content: "";
    display: block;
    position: absolute;
    height: 22px;
    border: 1px solid #1890ff;
    left: -25px;
    top: 2px;
}

.methods:not(.smart) div.methods__method span:first-child::before {
    display: block;
    width: 32px;
    height: 32px;
    background: #05B2FA;
    border: 1px solid #1890FF;
    border-radius: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    position: absolute;
    top: -6px;
    left: -40px;
}

.methods {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-left: 40px;
    gap: 12px;
}

.methods.smart {
    padding-left: unset;
    padding-top: unset;
    flex-direction: row;
    overflow-x: auto;
    padding-bottom: 11px;
}

.methods div.methods__method {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.methods.smart div.methods__method div {
    display: flex;
    flex-direction: column;
}

.methods.smart div.methods__method {
    white-space: nowrap;
    flex-direction: row;
}

span.blue-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--sky-blue);
    color: white;
    align-self: center;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-record.smart .progress-record__head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 14px 29px 14px 16px;
    height: unset;
}

.progress-record.smart .progress-record__head div {
    display: flex;
    flex-direction: column;
}

.progress-record.smart {
    border: 1px solid #d9d9d9;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
}

.progress-record.smart .progress-record__body {
    display: flex;
    flex-flow: row nowrap;
    padding: 8px 14px 14px 16px;
}

.day-week-register.smart {
    flex-flow: column nowrap;
}

.day-week-register.smart {
    flex-flow: column nowrap !important;
    display: flex;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}