aside.platform-el {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 208px;
    height: calc(100vh - 48px);
    background-color: white;
    top: 48px;
    transition: all 200ms;
}

aside.platform-el.minimized {
    max-width: 47px;
    transition: all 200ms;
}

aside.platform-el nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1080;
    position: relative;
}

aside.platform-el nav div.navigation-wrapper {
    display: block;
    position: relative;
}

ul.enarm-list {
    display: flex;
    flex-flow: column;
    /* gap: 8px; */
}

ul.enarm-list li {
    height: 40px;
    width: 100%;
    position: relative;
    display: block;
}

ul.enarm-list li:hover {

    background: #E6F7FF;
}

.platform-link {
    text-decoration: none;
    color: black;
    height: 40px;
    padding: 0 14px 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.platform-link div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 8px;
}

.platform-link div span {
    white-space: nowrap;
}

div.menu-toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 16px;
    height: 40px;
    width: 100%;
    box-shadow: inset 0px 1px 0px #F0F0F0;
}

button.toggle-button-menu {
    background: transparent;
    border: none;
}

div.logo-name {
    padding: 16px 6px 16px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.sub-link.active {
    padding: 0 14px 0 36px;
    background: #E6F7FF;
    color: rgb(30, 115, 190);
    background: #e6f7ff;
}

.sub-link.active:after {
    content: "";
    display: block;
    position: absolute;
    background: #1E73BE;
    width: 4px;
    height: 40px;
    right: 0;
}

img.logo-enarm {
    width: 32px;
    height: 32px;
}

li.plans-off,
li.docs-off {
    display: none !important;
}

li.plans-on,
li.docs-on {
    display: block;
}

.platform-link.sub-link {
    padding: 0 14px 0 36px;
}

.forced-link-active {
    color: rgb(30, 115, 190) !important;
}

.platform-link.active {
    background: #e6f7ff;
    color: var(--blue);
}

.platform-link.active.forced-link-active {
    background: white;
}


.session-user.smart div.user-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 11px;
}

span.menu-close-button {
    width: 100%;
    height: 24px;
    display: block;
    text-align: right;
}

span.menu-close__button {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #7A7A7A;
    font-weight: bold;
    font-size: 24px;
    transform: rotate(45deg);
}

.navigation-wrapper div.menu-close {
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}