.simulator-head {
    width: 100%;
    display: block;
    height: 68px;
    position: relative;
}

.simulator-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.simulator-head button {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 68px;
    padding: 12px 0px 11px 40px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
}

.simulador-body {
    padding: 16px;
    background-color: #FFFFFF;
}

.list-instructions {
    padding-left: 16px;
}

.simulador-body ul.list-instructions li {
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}

.buttons-utility {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    height: 48px;
    padding: 0px 8px;
}

.buttons-utility button {
    height: 32px;
    padding: 5px 16px;
}

.buttons-utility button:first-child {
    background: #05B2FA;
    border: none;
    border-radius: 2px;

}

.buttons-utility button:last-child {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
}

.material-icons.button-icon.closed-mode {
    position: absolute;
    left: 12px;
    font-size: 20px;
    top: 12px;
    transform: rotate(0deg);
    transition: all 200ms ease;
}

.material-icons.button-icon.open-mode {
    position: absolute;
    left: 12px;
    font-size: 20px;
    top: 12px;
    transform: rotate(90deg);
    transition: all 200ms ease;
}

/* RESPONSIVE */
.container-box__body.smart .list-instructions {
    padding: unset;
}

.buttons-utility.smart {
    flex-flow: column;
    height: unset;
    gap: 16px;
    margin-top: 24px;
    padding: unset;
}