div.hero-3 {  
    position: relative;
}
 

div.hero-3-container-header,
div.hero-3-container-body {
    display: flex;
}
/* div.hero-3-container div.bg-image {
    background-image: url('../../assets/imgs/Dres/ymlp.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-position-y: -33px;
} */

/* div.hero-3-container div.gradient {
    background: linear-gradient(180deg, #E2ECF8 53.04%, rgba(226, 236, 248, 0) 71.38%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
} */

div.hero-3-container div.triangle {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    clip-path: polygon(100% 55%, 0% 100%, 100% 100%);
    bottom: 0px;
}
/* div.hero-3-container div.sub-container {  
    position: absolute;
    z-index: 220;
    top: 121.26px;
    left: 120px;
} */
 
div.hero-3-container button.only-letters { 
    height: 22px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.hero-3-container button.only-letters i {
    width: 28px;
    font-size: 36px;
    color: var(--sky-blue);position: relative;
    left: 0px;
    transition: left 350ms;
}

div.hero-3-container button.only-letters span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #05B2FA;
    display: block;
    height: 22px;
}

div.hero-3-container button.only-letters:hover span {
    text-decoration-line: underline;    
}

div.hero-3-container button.only-letters:hover i {
    left: 10px;
    transition: left 350ms;
}