.platform-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

header.platform-el {
    position: relative;
}

main.main-platform {
    position: relative;
    top: 48px;
    left: 208px;
    display: block;
    width: calc(100vw - 208px);
    background: #F0F2F5;
    height: calc(100vh - 48px);
    transition: all 200ms ease;
}

main.main-platform.minimized {
    width: calc(100vw - 47px);
    left: 47px;
    transition: all 200ms ease;
}

.modal-contact {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #0000007d;
    z-index: 1090;
}

.modal-contact-container {
    width: 70%;
    height: 70%;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: azure;
    border-radius: 4px;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1090;
}

.modal-contact-container>div {
    display: block;
}

.modal-contact-container div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.modal-contact-container div.right>h1 {
    margin-bottom: 32px;
}

.modal-contact-container .left .left-image {
    background-size: cover;
    width: 450px;
    height: 90%;
}

.contact-close-modal {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 1089;
}

.modal-contact-icon {
    width: 24px;
    height: 24px;
}

.modal-contact-container div.right>div {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.modal-contact-container div.left {
    display: flex;
    align-items: flex-end;
}


/* RESPONSIVE */

.main-platform--smart {
    left: unset !important;
    width: 100vw !important;
    top: unset !important;
    height: auto !important; 
}

.main-container--smart {
    padding: 16px 24px !important;
    height: auto !important;
}

.layout-blocks-small {
    width: 259px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: aqua;
    z-index: 11090;
}

.hamburger-menu>aside.platform-el {
    position: relative !important;
    top: 0;
    height: 100vh;
}

.logo-name.smart {
    display: none;
}

span.hamburguer__bottom {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100vw - 206px);
    background: #00000050;
    height: 100vh;
    z-index: 101090;
}

.session-user.smart div.user-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 11px;
    height: 40px;
}

.session-container-tools>div {
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-left: 11px;
    align-items: center;
}

.session-container-tools>div>i {
    color: #7a7a7a;
}

.session-user.smart {
    padding-bottom: 8px;
}

.underline {
    text-decoration: underline;
}