.organizedLinks li {
  padding-top: 8px;
  padding-left: 1rem;
  list-style: none;
}

.studyGuideContent {
  font-family: PoppinsRegular;
}

.unorganizedSublinks li {
  padding-left: 12px;
  list-style-position: inside;
  position: relative;
  margin-left: 16px;
}

.resources {
  padding-left: 2rem;
}

.unorganizedSublinks li::before {
  content: "";
  width: 4px;
  height: 4px;
  background: rgba(30, 115, 190, 1);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: 0;
}

.organizedLinks li a,
.unorganizedSublinks li a {
  text-decoration: none;
  font-family: PoppinsRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #1e73be;
  text-decoration: underline;
}

li a.guideHasUrl,
li a.linkHasUrl {
  color: rgba(30, 115, 190, 1);
}

li a.guideHasUrl:hover,
li a.linkHasUrl:hover {
  text-decoration: underline;
}
