div.are-you-ready {
    width: 1440px;
    height: 622px;
}

div.are-you-ready-container {
    padding: 100px 120px;
}

div.cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

div.cards div.card {
    width: 588px;
    height: 273px;
    border: 2px solid var(--sky-blue);
    border-radius: 10px;
    padding: 40px;
}

div.cards div.card h1 {
    font-family: PoppinsMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 18px;
}

ul.ls-none {
    list-style: none;
}

li.list-ip {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    margin-bottom: 12px;
}

li.list-ip i.green {
    color: #04B43E;
    font-weight: bold;
}

li p.text-list {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    color: #000000;
}

li.list-ip ul {
    margin-top: -4px;
    margin-left: 78px;
}

.text-list.white { color: white; }

.are-you-ready-container > h1.title {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 58px; 
    text-align: center;
    letter-spacing: 0.03em; 
    color: #000000;

    display: block;
    width: 762px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 84px;

}