div.contents {
    width: 1440px;
    height: 1108px;
    background: linear-gradient(180deg, rgba(226, 236, 248, 0) 25.24%, #E2ECF8 100%);
} 

div.contents-container {
    width: 100%;
    height: 100%;
    padding: 100px 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

div.contents-container-header { 
    display: block;
    width: 588px;
    height: 814px;
}

div.contents-container-header h1.title {
    display: block;
    width: 588px;
    height: 24px;

    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.3em;
    text-transform: uppercase;

    color: #05B2FA;
    margin-bottom: 16px;
}

div.contents-container-header h2.subtitle {
    display: block;
    width: 588px;
    height: 116px;
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 58px; 
    letter-spacing: 0.03em; 
    color: #000000;
    margin-bottom: 16px;
}

div.contents-container-header p.parraf {
    display: block;
    width: 588px;
    height: 28px;

    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    color: #000000;

    margin-bottom: 20px;
}

ul.ls-none {
    list-style: none;
}

ul.ls-darkcircle {
    list-style: initial;

}

li.list-ip {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    margin-bottom: 12px;
}

li.list-ip i.green {
    color: #04B43E;
    font-weight: bold;
}

li p.text-list {
    font-family: PoppinsSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
    color: #000000;
}

li.list-ip ul {
    margin-top: -4px;
    margin-left: 78px;
}


div.contents-container-body { 
    display: block;
    width: 384px;
    height: 908px; 
    border-radius: 10px;
    background-color: #FFF;
}

div.contents-container-body div.image-container {
    width: 384px;
    height: 232px;
    margin-bottom: 32px;
    background-image: url('../assets/imgs/Dres/what-doctors-say2.jpg');
    background-repeat: none;
    background-size: cover;
    background-position-y: -24px;
}

div.contents-container-body h1.title {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0 20px 12px 20px;
}

div.contents-container-body p.parraf {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0 20px 16px 20px;
}

div.contents-container-body div.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 36px;
    margin-right: 20px;
}

div.column-with-circles {
    width: 24px;
    height: 372px; 
    position: relative;
}

div.column-with-circles div {
    position: absolute;
}

div.column-with-circles div.vertical-line {
    width: 2px;
    height: 336px;
    border-left: 3px solid #96ACBC;
    top: 22px;
    left: 11px;
}

div.column-with-circles div.circle {
    width: 24px;
    height: 24px;
    background-color: #FFF;
    border: 6px solid #96ACBC;
    border-radius: 50%;
}

div.column-with-circles div.circle-1 {
    top: 0px;
    left: 0px
}

div.column-with-circles div.circle-2 { top: 60px; left: 0px }
div.column-with-circles div.circle-3 { top: 120px; left: 0px }
div.column-with-circles div.circle-4 { top: 204px; left: 0px }
div.column-with-circles div.circle-5 { top: 288px; left: 0px }
div.column-with-circles div.circle-6 { top: 348px; left: 0px }

div.contents-container-body div.sub-container ul { width: 286px; }

div.contents-container-body div.sub-container ul li {
    min-height: 52px;
    margin-bottom: 8px
}

ul li p.blue-text {
    font-family: PoppinsSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #05B2FA;
    margin-bottom: 4px;
}

ul li p.regular-text {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    color: #000000;
    margin-left: 24px;
} 

div.contents-container-body button.rounded-blue {
    width: 344px;
    height: 48px;
    background: #05B2FA;
    border-radius: 50px;
    border: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px; 
    text-align: center;
    letter-spacing: 0.02em; 
    color: #FFFFFF; 
    margin: 32px 20px;
}