div.facts {
    width: 100%;
    height: 741px;
    background: #1E73BE;
    display: block;
    position: relative;
}

div.facts-container {    
    width: 1440px;
    padding: 100px 120px;
    margin: 0 auto;
}

div.facts-container div.container-head {
    display: block;
    margin: 0 auto; 
}

div.facts-container div.container-head h1.title {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px; 
    text-align: center;
    letter-spacing: 0.3rem;
    text-transform: uppercase; 
    color: #05B2FA;

    text-align: center;
    display: block;
    width: 588px;
    height: 24px;
    margin: 0 auto 16px auto;
}

div.facts-container div.container-head h2.subtitle {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 58px; 
    text-align: center;
    letter-spacing: 0.03em; 
    color: #FFFFFF;

    text-align: center;
    display: block;
    width: 762.67px;
    height: 116px;
    margin: 0 auto;
}

div.facts-container div.container-body {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.facts-items-container { 
    display: flex;
    flex-flow: row nowrap; 
}

div.facts-items-container div.item:not(:last-child) { 
    display: block;
    width: 282px; 
    margin-right: 24px;
}

div.facts-items-container div.item p {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;

    color: #FFFFFF;

    width: 282px;
    height: 141px;
    display: block;
}

p.w278 {
    width: 278px!important;
}

p.w284 {
    width: 284px!important;
}

p.h141 {
    height: 140px!important;
}

p.h145 {
    height: 145px!important;
}

div.h209 {
    height: 209px!important;
}

div.h213 {
    height: 213px!important;
}


div.facts-container div.container-body button {
    width: 216px;
    height: 48px;
    border: none;
    background-color: #05B2FA;
    border-radius: 50px;
    
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 40px;
}

div.facts-container div.container-body button:hover {
    cursor: pointer;
}

div.icon-circle-border {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--sky-blue);
    margin-bottom: 24px; 
    animation: expandSpan 1s ease infinite alternate;
}
 
@keyframes expandSpan {
    0% { transform: scale(1);}
    100% { transform: scale(1.35);}
}