footer {
    width: 100%;
    height: 291px;
    margin: 0 auto 180px auto;
    border-top: 1px solid var(--gray);
    background-color: rgb(255, 255, 255);
    padding: 0 32px;
}

.footer-container {
    width: 100%;
    max-width: 1376px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    top: 122px;
}

.footer-enarm-logo {
    width: 159px;
    height: 159px;
}

.footer-enlaces {
    width: 302px;
    height: 169px;
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
}

.footer-enlaces .enlaces-right {
    width: 100px;
}

.footer-enlaces .enlaces-right,
.footer-enlaces .enlaces-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-link.home { width: 42px; }
.footer-link.about-us { width: 71px; }
.footer-link.about-course { width: 106px; }
.footer-link.blog { width: 35px; margin-top: 37px; }
.footer-link.free-test { width: 100px; }
.footer-link.contact { width: 76px; }
 

.footer-enlaces .footer-link:hover {
    font-weight: 700;
}
.footer-link {
    text-decoration: none;
    color: var(--black);
    display: block;
    height: 24px;
}

.footer-contactanos {
    width: 124px;
    height: 144px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.footer-contactanos .footer-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
}

.footer-contactanos .contact-icon {
    width: 24px;
    height: 24px;
}

.footer-contactanos span,
.footer-enlaces span {
    color: var(--gray);
}

.footer-social-media {
    width: 216px;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 32px;
}
.footer-social-media .vectors {
    width: 24px;
    height: 24px;
    color: var(--gray);
}

.button-inscription {
    display: block;
    width: 216px;
    height: 48px;
    color: white;
    background-color: var(--sky-blue);
    border-radius: 26px;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
}