footer { width: 100%; }

.footer-container { 
    display: flex; 
    position: relative;  
}

footer hr {
    width: 90%;
    border: 1px solid var(--gray);
    height: 1px; 
    margin: 0 auto;
}

/* .footer-enarm-logo {
    width: 159px;
    height: 159px;
} */

.footer-enlaces { 
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
}

/* .footer-enlaces .enlaces-right {
    width: 100px;
}

.footer-enlaces .enlaces-right,
.footer-enlaces .enlaces-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
} */

/* .footer-link.home { width: 42px; }
.footer-link.about-us { width: 71px; }
.footer-link.about-course { width: 106px; }
.footer-link.blog { width: 35px; margin-top: 37px; }
.footer-link.free-test { width: 100px; }
.footer-link.contact { width: 76px; } */
 

/* .footer-enlaces .footer-link:hover {
    font-weight: 700;
} */

.footer-link {
    text-decoration: none;
    color: var(--black);
    display: flex; 
}

div.footer-contactanos {
    display: flex;

}
div.footer-contactanos div.contact-links {
    display: flex;  
}

.footer-contactanos .contact-icon {
    width: 24px;
    height: 24px;
}

.footer-contactanos span,
.footer-enlaces span {
    color: var(--gray);
}

.footer-social-media {
    width: 100%; 
    display: flex;
}

.footer-social-media .vectors {
    width: 24px;
    height: 24px;
    color: var(--gray);
    display: block;
}

.footer-social-media .vectors img{
    transition: all 350ms;
}
 
div.footer-social-media .vectors:hover img {
    transform: scale(1.3);
    transition: all 350ms;
}