div.hero-3 {
    width: 1440px;
    height: 803.5px;
}

div.hero-3-container {
    width: 100%;
    height: 100%;
    position: relative;
}

div.hero-3-container div.bg-image {
    background-image: url('../assets/imgs/Dres/ymlp.png');  
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 158px;
    width: 1282px;
    height: 836px;
    background-position-x: 64px;
    background-position-y: -11px;
}

div.hero-3-container div.gradient {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 34.66%, #E2ECF8 63.76%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20; 
}

div.hero-3-container div.triangle {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    clip-path: polygon(100% 51%, 0% 100%, 100% 100%);
}
div.hero-3-container div.sub-container {  
    position: absolute;
    z-index: 220;
    top: 121.26px;
    left: 120px;
}

div.hero-3-container div.sub-container h1 {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 70px; 

    color: #000000;
    display: block;
    width: 586px;
    height: 202.91px;
    margin-bottom: 10px;
}

div.hero-3-container div.sub-container p {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
    display: block;
    width: 586px;
    height: 56px;
    margin-bottom: 18px;
}

div.hero-3-container div.sub-container button.rounded-blue {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px; 
    text-align: center;
    letter-spacing: 0.02em; 
    color: #FFFFFF;
    display: block;
    width: 246px;
    height: 48px; 
    background-color: var(--sky-blue);
    border: 1px solid transparent;
    border-radius: 26px;  
    margin-bottom: 40px;
} 

div.hero-3-container div.sub-container button.only-letters {
    width: 267.12px;
    height: 22px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.hero-3-container div.sub-container button.only-letters i {
    width: 28px;
    font-size: 36px;
    color: var(--sky-blue);
}

div.hero-3-container div.sub-container button.only-letters span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #05B2FA;
    display: block;
    width: 243px;
    height: 22px;
}