div.news {
    width: 100%;
    min-height: 1440px; 
    position: relative;
}

div.news-container {
    width: 1440px;
    position: relative;
    padding-top: 99px;
    margin: 0 auto;
}

div.news-container div.container-head {  
    display: flex;
    width: 792px;
    height: 249px;
    margin: 0 auto;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 40px; 
}

div.news-container div.container-head h1.title {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;

    color: #05B2FA;

    display: block;
    width: 588px;
    height: 24px;
    margin: 0 auto 16px auto;
}

div.news-container div.container-head h2.subtitle {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 58px; 
    text-align: center;
    letter-spacing: 0.03em; 
    opacity: 0.32;
    margin: 0 auto 16px auto;
}

div.news-container div.container-head p {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #000000;

    text-align: center;
    display: block;
    width: 790px;
    height: 77px;
}

div.news-container div.container-body {
    display: block;
    width: 790px;
    height: auto;
    margin: 0 auto;
}

div.news-items {
    display: block;
    width: 790px; 
}

div.news-items div.item {
    width: 100%; 
    padding: 1rem;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; 
    border-radius: 10px;
    margin-bottom: 12px; 
    transition: border 500ms;
}

div.news-items div.item.isSelected {
    border: 2px solid #05B2FA; 
    transition: border 350ms;
}

div.news-items div.item div.item-head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 12px;
}

div.news-items div.item div.item-head h1 {
    font-family: PoppinsMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 50px; 
    color: #05B2FA;
}

div.news-items div.item div.item-head button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: #05B2FA;
    border-radius: 50%;
    color: white;
}

div.news-items div.item div.item-body {
    width: 722px;
    height: auto;
    margin-left: 36px; 
} 

div.news-items div.item div.item-body p {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px; 
    display: inline;
    margin-right: 8px;
    transition: line-height 350ms; 
}

div.news-items div.item.isSelected div.item-body p { 
    line-height: 24px!important;
    transition: line-height 350ms;  
}

div.news-items div.item div.item-body a {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
    text-decoration-line: underline; 
    color: #96ACBC;
    display: inline;
}