div.promises {
    width: 100%;
    height: 480px;
    position: relative;    
}

div.promises-container {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

div.promises-container-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.promises-container-body div.image-container {
    width: 708px;
    height: 480px;
    background: linear-gradient(270deg, #fff 16.85%, rgba(255, 255, 255, 0) 51.24%);
    position: relative;
}

div.promises-container-body div.image-container img {
    position: absolute;
    z-index: -1;
}

div.promises-subcontainer {
    width: 588px;
    height: 278px;
    display: block; 
    text-align: start;
    margin-left: 24px;
}

div.promises-subcontainer h1.title {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.3em;
    text-transform: uppercase; 
    color: #05B2FA;

    display: block;
    margin-bottom: 16px;
}


div.promises-subcontainer h2.subtitle {
    font-family: PoppinsBold;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 58px; 
    letter-spacing: 0.03em; 
    color: #000000;
    
    display: block;
    margin-bottom: 16px;
}


div.promises-subcontainer p {
    font-family: PoppinsRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #000000;

    display: block;
    margin-bottom: 12px;
}
 
div.promises-subcontainer button {
    width: 266.12px;
    height: 22px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.promises-subcontainer button i {
    width: 28px;
    font-size: 36px;
    color: var(--sky-blue);position: relative;
    left: 0px;
    transition: left 350ms;
}

div.promises-subcontainer button span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #05B2FA;
    display: block;
    height: 22px;
}

div.promises-subcontainer button:hover span {
    text-decoration-line: underline;    
}

div.promises-subcontainer button:hover i {
    left: 10px;
    transition: left 350ms;
}