div.resources {
    width: 100%;  
} 
   
div.resources-body { 
    display: flex; 
}

div.resources-item {
    display: flex;
    position: relative;
}

div.resources-item i.item-icon {
    width: 44px;
    height: 44px; 
    font-size: 31px;
    color: white;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: font-size 400ms;
    animation: shine 1.25s;
}

div.resources-item:hover i.item-icon {
    font-size: 41px;
    cursor: pointer;
    transition: font-size 180ms;
    animation: shine 1.25s;
}

div.resources-item i.item-icon::before {
    content: '';
    width: 44px;
    height: 44px;
    position: absolute;
    background: linear-gradient(270deg,hsla(0, 0%, 100%, 0),hsla(0, 0%, 100%, 0.35),hsla(0, 0%, 100%, 0.1));
    left: -44px;
    display: block;
}

div.resources-item:hover i.item-icon::before {
    left: 44px; 
    transition: left 550ms;
}
 
.link-with-icon { 
    display: flex; 
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none; 
}
  
i.item-icon.bg-green { background: #04B43E; }
i.item-icon.bg-blue { background: #2E77AB; }
i.item-icon.bg-gray { background: #96ACBC; }
i.item-icon.bg-orange { background: #F4370B; }