div.value_proposal {
    width: 100%;
    max-width: 1440px;
    height: 394px;
    background-color: #1E73BE;
}

div.value_proposal-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly; 
    padding: 100px 120px;
}

div.value_proposal-item {
    width: 346px;
    height: 194px;
}
 
div.value_proposal-item h2 {
    display: block;
    width: 346px;
    height: 54px;
    color: white;
    font-family: PoppinsMedium;
    font-size: 33px;
    font-weight: 500;
    line-height: 49.5px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 12px;

}
div.value_proposal-item p {
    display: block;
    width: 346px;
    height: 72px;
    color: white;
    font-family: PoppinsRegular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

div.value_proposal-item div.item-icon-container {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    color: #05B2FA;
}

div.value_proposal-item div.item-icon-container span { 
    width: 40px;
    height: 40px;
    border: 2px solid #05B2FA;
    border-radius: 50%; 
    display: block;
    animation: expandSpan 1s ease infinite alternate;
}

div.value_proposal-item div.item-icon-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes expandSpan {
    0% { transform: scale(1);}
    100% { transform: scale(1.35);}
}