/* // X-Small devices (portrait phones, less than 576px) */ 
div.hero-4 { width: 100%; background: linear-gradient(180deg, rgba(226, 236, 248, 0) 25.24%, #E2ECF8 100%); }
div.hero-4-container { padding: 60px 24px; position: relative; display: flex; flex-direction: column; }
div.hero-4-container-header { display: flex; flex-direction: column; gap: 16px; align-items: center; margin-bottom: 72px; }
div.hero-4-container-header > * { margin: 0px; }
div.hero-4-container-body { display: flex; flex-direction: column; gap: 16px; }
div.hero-4-container-body div.entries { display: flex; flex-direction: column; gap: 16px; align-items: center;} 
div.hero-4-container-body div.entries div.entry { max-width: 380px; border: 2px solid #05B2FA; border-radius: 10px; background-color: #FFFFFF; height: 100%; text-decoration: none; color: #000; }
div.hero-4-container-body div.entries div.entry div.entry-image { width: 100%; height: 61%; overflow: hidden; }
div.hero-4-container-body div.entries div.entry div.entry-image img { width: 100%; }
div.hero-4-container-body div.entries div.entry div.entry-text { padding: 20px; }
div.hero-4-container-body div.entry div.entry-text .entry-link { text-decoration: none; color: #000; }
div.hero-4-container-body div.entry div.entry-text .entry-link > p:first-child { text-decoration: underline; color: var(--gray); }
div.hero-4-container-body div.entries div.entry:hover { cursor: pointer; }
div.hero-4-container-body div.entries div.entry:hover div.entry-image img { transition: all 0.3s; }
div.hero-4-container-body div.entries div.entry:hover div.entry-image img { transform: scale(1.2); transition: all 0.3s; }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {   
    div.hero-4-container-header { max-width: 515px; margin: 0 auto 72px auto; }
    div.hero-4-container-body div.entries { margin: 0 auto; }
} 

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    div.hero-4-container-header { max-width: 693px; margin: 0 auto 72px auto; }
    div.hero-4-container-header > p:last-child { max-width: 515px; }
    div.hero-4-container-body div.entries { flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; } 
    div.hero-4-container-body div.entry { min-width: 336px; width: 336px; } 
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    div.hero-4-container-body div.entries { flex-direction: row; }
    div.hero-4-container-header > p { max-width: 588px; margin: 0 auto; }
    div.hero-4-container-header > h1 { max-width: 790px; margin: 0 auto; }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    div.hero-4 { padding: 100px 120px;  }
    div.hero-4-container-body { max-width: 1200px; margin: 0 auto;}
    div.hero-4-container { padding: unset!important; max-width: 1200px; margin: 0 auto; } 
    div.hero-4-container-body div.entries { flex-direction: row; }
    div.hero-4-container-header > p { max-width: 588px; margin: 0 auto; }
    div.hero-4-container-header > h1 { max-width: 790px; margin: 0 auto; }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  
    div.hero-4 { padding: 100px 120px; }
    div.hero-4-container-body { max-width: 1200px; margin: 0 auto;}
    div.hero-4-container { padding: unset!important; margin: 0 auto; max-width: 1440px;}
    div.hero-4-container-body div.entries div.entry { min-width: 384px; }
    div.hero-4-container-body div.entries { flex-direction: row; } 
    div.hero-4-container-header { margin-bottom: 100px;}
    div.hero-4-container-header > p { max-width: 588px; margin: 0 auto; }
    div.hero-4-container-header > h2 { max-width: 790px; margin: 0 auto; font-size: 47px;
        line-height: 70px;
        text-align: center;
        letter-spacing: 0.03em; }
}