* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* Full-screen container */
  .forgot-password-full-screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  .forgot-password-reset-container {
    background: #fff;
    padding: 30px 65px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px; /* Ampliado el ancho máximo de la tarjeta */
  }
  
  .forgot-password-title {
    font-size: 1.1rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: "PoppinsSemibold";
  }
  
  .forgot-password-input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .forgot-password-email-label {
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .forgot-password-email-input {
    width: 250px; /* Ancho completo para hacer los inputs más largos */
    padding: 12px; /* Aumentado el padding para mejor apariencia */
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ddd;
    outline: none;
  }
  
  .forgot-password-error-message {
    color: #d62822;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .forgot-password-success-message {
    color: #28a745;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .forgot-password-reset-button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background: #4070f4;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  /* Estado de hover */
  .forgot-password-reset-button:hover {
    background: #0e4bf1;
  }
  
  /* Estilo para botón deshabilitado */
  .forgot-password-reset-button:disabled {
    background: #b0c4f4; /* Color más claro */
    cursor: not-allowed; /* Cambia el cursor a no permitido */
    opacity: 0.6; /* Atenúa el botón */
  }
  
  .forgot-password-footer-links {
    text-align: center;
    margin-top: 20px;
  }
  
  .forgot-password-login-link {
    color: #4070f4;
    text-decoration: none;
  }
  