div.advantages { 
    background: linear-gradient(180deg, rgba(226, 236, 248, 0) 25.24%, #E2ECF8 100%);
} 

div.advantages-items {
    display: flex; 
}

div.advantage { 
    display: flex; 
}

div.advantage img {
    width: 40px;
    height: 40px;
    display: block;   
    animation: expandSpan 1s ease infinite alternate;
}
  

/* div.advantages-container-body div.carrousel-rankings {
    position: absolute;
    display: block;
    width: 281px;
    height: 306px;
    left: 716px;
    bottom: 124px;
}

div.advantages-container-body div.carrousel-rankings div.ranking-image {
    width: 281px;
    height: 282px;
    display: block;
    background-image: url(../assets/PicsArt_10-20-09.06.png);
    background-repeat: none;
}

div.advantages-container-body div.carrousel-rankings div.ranking-dots {
    width: 40px;
    height: 8px;
    display: flex;
    justify-content: space-between; 
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

div.advantages-container-body div.ranking-dots div.dot {
    width: 8px;
    height: 8px;
    border: 1px solid #96ACBC;
    border-radius: 50%;
    background-color: transparent;
}

div.advantages-container-body div.ranking-dots div.dot.selected {
    background-color: #96ACBC;
} */

/* div.advantages-carrousel { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} */