div.explore {
    width: 100%; 
    display: block;
    position: relative; 
    background-color: var(--blue);
    padding-top: 72px;
}

div.explore-container {
    position: relative;
    display: block;
    padding: 0 120px;
    margin: 0 auto;
    max-width: 1440px;
} 

div.explore-container-body {
    display: flex; 
    flex-wrap: nowrap;
    justify-content: space-between;
}
 

div.explore-form form div.form-group {
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px; 
}

div.explore-form form div.form-group input {
    width: 100%;
    height: 56px;
    border: 1px solid #96ACBC;
    border-radius: 10px;
    padding: 1rem;
}

/* div.explore-form form div.whatsapp-input {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
    justify-content: space-between;
    align-items: flex-start;
}  */

/* div.whatsapp-input div.form-group input[type=text] {
    width: 100%;
    height: 56px;
} */

div.explore-form form div.form-group input::placeholder {
    font-family: PoppinsRegular;
    font-weight: 400;
    color: #96ACBC;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
}
 
/* .explore-cards {
    width: 588px;
    height: 414px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
  
/* .card-item {
    display: flex;
    flex-flow: row nowrap;
    height: 130px;
    width: 588px;
    border: 2px solid var(--sky-blue);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center; 
    animation: cardSize 2s ease infinite alternate;
} */
  
/* .card-item-text {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
} */
  
/* .card-item-icon {
    width: 114px !important;
    display: block; 
} */

/* .card-item-icon img {
    transform: scale(1);
    transition: transform 350ms;
    height: 70px;
} */

/* .card-item-icon:hover img {
    transform: scale(1.20);
    transition: transform 350ms;
} */


/* .card-item-text > h1 {
    display: block;
    height: 26px;
    width: 444px;
    font-style: normal;
    font-weight: 700;
    color: white;
    font-size: 16px;
    line-height: 24px;
} */
  
/* .card-item-text > p {
    color: white;
    text-align: start;
    font-family: PoppinsRegular;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: block;
    width: 444px;
    height: 50px;
} */

/* @keyframes cardSize {
    0% { height: 128px; width: 586px; }
    100% { height: 134px; width: 596px; }
} */